black
colorama
coverage[toml]
dataclasses
flake8
flake8-cognitive-complexity
Flake8-pyproject
isort
lxml
mypy-extensions
pip
pre-commit
pre-commit-hooks
pytest
setuptools
sphinx
sphinx_rtd_theme
typed-ast
typing-extensions
wheel
xsdata
